<h2 style="text-align: center">CONTRACT DETAIL LIST</h2>
<div>
  <button  class="btn btn-primary btn-lg" routerLink="/contract-detail/create">Create Contract Detail</button>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Contract Detail ID</th>
    <th scope="col">Contract ID</th>
    <th scope="col">Attach Service ID</th>
    <th scope="col">Attach Service Name</th>
    <th scope="col">Quantity</th>
  </tr>
  </thead>
  <tbody style="background-color: #f7f5f2">
  <tr *ngFor="let cd of contractDetailList">
    <td>{{cd.id}}</td>
    <td>{{cd.contract.id}}</td>
    <td>{{cd.attachService.id}}</td>
    <td>{{cd.attachService.name}}</td>
    <td>{{cd.quantity}}</td>
<!--    <td>-->
<!--      <button class="btn btn-primary btn-warning" type="button"><a style="color: black" routerLink="/update/{{this.cd.id}}">Edit</a>-->
<!--      </button>-->
<!--    </td>-->
<!--    <td>-->
<!--      <button class="btn btn-primary btn-danger">-->
<!--        <a style="color: black" routerLink="/contract-detail/delete/{{this.cd.id}}">Delete</a>-->
<!--      </button>-->
<!--    </td>-->
  </tr>
  </tbody>
</table>
