<h2 style="text-align: center">CONTRACT DETAIL LIST</h2>

<a class="nav-link" routerLink="/contract-detail/create">Create Contract Detail</a>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Contract Detail ID</th>
    <th scope="col">Contract ID</th>
    <th scope="col">Attach Service ID</th>
    <th scope="col">Attach Service Name</th>
    <th scope="col">Quantity</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cd of contractDetailList">
    <td>{{cd.id}}</td>
    <td>{{cd.contract.id}}</td>
    <td>{{cd.attachService.id}}</td>
    <td>{{cd.attachService.name}}</td>
    <td>{{cd.quantity}}</td>
    <td>
      <button class="btn btn-primary" type="button"><a style="color: black" routerLink="/update/{{this.cd.id}}">Edit</a>
      </button>
    </td>
    <td>
      <button class="btn btn-primary">
        <a style="color: black" routerLink="/contract-detail/delete/{{this.cd.id}}">Delete</a>
      </button>
    </td>
  </tr>
  </tbody>
</table>
