<h2 style="text-align: center">UPDATE CONTRACT FORM</h2>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6" align="center">
    <form [formGroup]="contractForm" (ngSubmit)="updateContract()">
      <table border="1" cellpadding="5">
        <tr>
          <th>Employee Name:</th>
          <td>
            <select
              formControlName="employee"
              [compareWith]="compareEmployee"
            >
              <option value=""></option>
              <option *ngFor="let emp of employeeList " [ngValue]="emp">
                {{emp.name}}
              </option>
            </select>
            <span style="color: red"
                  *ngIf="contractForm.controls.employee.hasError('required') && contractForm.controls.employee.dirty">
           Employee cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <th>Customer Name:</th>
          <td>
            <select
              formControlName="customer"
              [compareWith]="compareCustomer"
            >
              <option value=""></option>
              <option *ngFor="let cus of customerList " [ngValue]="cus">
                {{cus.name}}
              </option>
            </select>
            <span style="color: red"
                  *ngIf="contractForm.controls.customer.hasError('required') && contractForm.controls.customer.dirty">
            Customer cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <th>Service Name:</th>
          <td>
            <select
              formControlName="service"
              [compareWith]="compareService"
            >
              <option value=""></option>
              <option *ngFor="let service of serviceList " [ngValue]="service">
                {{service.name}}
              </option>
            </select>
            <span style="color: red"
                  *ngIf="contractForm.controls.customer.hasError('required') && contractForm.controls.customer.dirty">
            Service cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <th>Start Date:</th>
          <td>
            <input type="date" formControlName="startDate" required/>
            <div style="color: red"
                 *ngIf="!contractForm.controls.startDate.valid && (contractForm.controls.startDate.dirty ||
            contractForm.controls.startDate.touched)">
              <div [hidden]="!contractForm.get('startDate').errors.required">
                ID Card cannot be blank!
              </div>
              <div [hidden]="!contractForm.get('startDate').errors.pattern">
                Please enter correct format! (9 or 12 digits)
              </div>
              <div [hidden]="!contractForm.controls.startDate.hasError('futureDate')">
                Start Date must be in the future!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>End Date:</th>
          <td>
            <input type="date" formControlName="endDate" required/>
            <div style="color: red"
                 *ngIf="!contractForm.controls.endDate.valid && (contractForm.controls.endDate.dirty ||
            contractForm.controls.endDate.touched)">
              <div [hidden]="!contractForm.get('endDate').errors.required">
                ID Card cannot be blank!
              </div>
              <div [hidden]="!contractForm.get('endDate').errors.pattern">
                Please enter correct format! (9 or 12 digits)
              </div>
              <div [hidden]="!contractForm.controls.endDate.hasError('futureDate')">
                End Date must be in the future!
              </div>
            </div>
            <div style="color: red" *ngIf="!contractForm.valid && (contractForm.dirty || contractForm.touched)">
              <div [hidden]="!contractForm.hasError('endDate')">
                End Date must be greater than Start Date!
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Deposit:</th>
          <td>
            <input type="text" formControlName="deposit" required/>
            <span style="color: red"
                  *ngIf="contractForm.controls.deposit.hasError('required') && contractForm.controls.deposit.dirty">
           Deposit cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="UPDATE"/>
          </td>
        </tr>
      </table>
      <div class="col-3"></div>
    </form>
  </div>
</div>
