<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
<h2 style="text-align: center">CREATE CONTRACT FORM</h2>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6" align="center">
    <form [formGroup]="contractForm" (ngSubmit)="createContract()">
        <div>
          <label style="font-weight: bold; font-size: x-large" for="emp">Employee Name:</label>
            <select
              formControlName="employee"
              id="emp"
            >
              <option value=""></option>
              <option *ngFor="let emp of employeeList " [ngValue]="emp">
                {{emp.name}}
              </option>
            </select>
            <span style="color: red"
                  *ngIf="contractForm.controls.employee.hasError('required') && contractForm.controls.employee.dirty">
           Employee cannot be blank!</span>
        </div>
        <div>
          <label style="font-weight: bold; font-size: x-large" for="cus">Customer Name:</label>
            <select
              id="cus"
              formControlName="customer"
            >
              <option value=""></option>
              <option *ngFor="let cus of customerList " [ngValue]="cus">
                {{cus.name}}
              </option>
            </select>
            <span style="color: red"
                  *ngIf="contractForm.controls.customer.hasError('required') && contractForm.controls.customer.dirty">
            Customer cannot be blank!</span>
        </div>
        <div>
          <label style="font-weight: bold; font-size: x-large" for="ser">Service Name:</label>
            <select
              id="ser"
              formControlName="service"
            >
              <option value=""></option>
              <option *ngFor="let service of serviceList " [ngValue]="service">
                {{service.name}}
              </option>
            </select>
            <span style="color: red"
                  *ngIf="contractForm.controls.customer.hasError('required') && contractForm.controls.customer.dirty">
            Service cannot be blank!</span>
        </div>
        <div>
          <label style="font-weight: bold; font-size: x-large" for="startDate">Start Date:</label>
            <input type="date" id="startDate" formControlName="startDate" required/>
            <div style="color: red"
                 *ngIf="!contractForm.controls.startDate.valid && (contractForm.controls.startDate.dirty ||
            contractForm.controls.startDate.touched)">
              <div [hidden]="!contractForm.get('startDate').errors.required">
                ID Card cannot be blank!
              </div>
              <div [hidden]="!contractForm.get('startDate').errors.pattern">
                Please enter correct format! (9 or 12 digits)
              </div>
              <div [hidden]="!contractForm.controls.startDate.hasError('futureDate')">
                Start Date must be in the future!
              </div>
            </div>
        </div>
        <div>
          <label style="font-weight: bold; font-size: x-large" for="endDate">End Date:</label>
            <input type="date" id="endDate"formControlName="endDate" required/>
            <div style="color: red"
                 *ngIf="!contractForm.controls.endDate.valid && (contractForm.controls.endDate.dirty ||
            contractForm.controls.endDate.touched)">
              <div [hidden]="!contractForm.get('endDate').errors.required">
                ID Card cannot be blank!
              </div>
              <div [hidden]="!contractForm.get('endDate').errors.pattern">
                Please enter correct format! (9 or 12 digits)
              </div>
              <div [hidden]="!contractForm.controls.endDate.hasError('futureDate')">
                End Date must be in the future!
              </div>
            </div>
            <div style="color: red" *ngIf="!contractForm.valid && (contractForm.dirty || contractForm.touched)">
            <div [hidden]="!contractForm.hasError('endDate')">
              End Date must be greater than Start Date!
            </div>
            </div>
        </div>
        <div>
          <label style="font-weight: bold; font-size: x-large" for="deposit">Deposit:</label>
            <input type="text" id="deposit" formControlName="deposit" required/>
            <span style="color: red"
                  *ngIf="contractForm.controls.deposit.hasError('required') && contractForm.controls.deposit.dirty">
           Deposit cannot be blank!</span>
        </div>
            <button class="btn btn-primary btn-lg" [disabled]="!contractForm.valid" >CREATE</button>
      <div class="col-3"></div>
    </form>
  </div>
</div>
