<h2 style="text-align: center">CREATE CUSTOMER FORM</h2>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6" align="center">
    <form [formGroup]="contractDetailForm" (ngSubmit)="createContractDetail()">
      <table border="1" cellpadding="5">
        <tr>
          <th>Contract Detail ID:</th>
          <td>
            <input type="text" formControlName="id" required />
            <span style="color: red" *ngIf="contractDetailForm.controls.id.hasError('required') && contractDetailForm.controls.id.dirty">
            ID cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <th>Contract ID:</th>
          <td>
            <select
              formControlName="contract"
            >
              <option value=""></option>
              <option *ngFor="let ct of contractList " [ngValue]="ct">
                {{ct.id}}
              </option>
            </select>
            <span style="color: red" *ngIf="contractDetailForm.controls.contract.hasError('required') && contractDetailForm.controls.contract.dirty">
            Contract cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <th>Attach Service ID:</th>
          <td>
            <select
              formControlName="attachService"
            >
              <option value=""></option>
              <option *ngFor="let ass of attachServiceList " [ngValue]="ass">
                {{ass.name}}
              </option>
            </select>
            <span style="color: red" *ngIf="contractDetailForm.controls.attachService.hasError('required') && contractDetailForm.controls.attachService.dirty">
            Attach Service cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <th>Quantity:</th>
          <td>
            <input type="text" formControlName="quantity" required />
            <span style="color: red" *ngIf="contractDetailForm.controls.quantity.hasError('required') && contractDetailForm.controls.quantity.dirty">
            ID Card cannot be blank!</span>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="CREATE" />
          </td>
        </tr>
      </table>
      <div class="col-3"></div>
    </form>
  </div>
</div>
