<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
<h2 style="text-align: center">UPDATE EMPLOYEE FORM</h2>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6" align="center">
    <form [formGroup]="employeeForm" (ngSubmit)="updateEmployee()">
      <input hidden formControlName="id">
      <div>
        <label style="font-weight: bold; font-size: x-large" for="code">Employee Code:</label>
        <input type="text" id="code" formControlName="code" required="">
        <div style="color: red"
             *ngIf="!employeeForm.controls.code.valid && (employeeForm.controls.code.dirty ||
            employeeForm.controls.code.touched)">
          <div [hidden]="!employeeForm.get('code').errors.required">
            Employee Code cannot be blank!
          </div>
          <div [hidden]="!employeeForm.get('code').errors.pattern">
            Please enter correct format! (NV-XXXX)
          </div>
        </div>
      </div>

      <div>
        <label style="font-weight: bold; font-size: x-large" for="name">Employee Name:</label>
        <input type="text" id="name" formControlName="name" required/>
        <span style="color: red"
              *ngIf="employeeForm.controls.name.hasError('required') && employeeForm.controls.name.dirty">
            Name cannot be blank!</span>
      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="birthday">Employee Birthday:</label>
        <input type="date" id="birthday" formControlName="birthday" required/>
        <div style="color: red"
             *ngIf="!employeeForm.controls.birthday.valid && (employeeForm.controls.birthday.dirty ||
            employeeForm.controls.birthday.touched)">
          <div [hidden]="!employeeForm.get('birthday').errors.required">
            ID Card cannot be blank!
          </div>
          <div [hidden]="!employeeForm.get('birthday').errors.pattern">
            Please enter correct format!
          </div>
          <div [hidden]="!employeeForm.controls.birthday.hasError('under18')">
            Age must be greater than 18!
          </div>
        </div>
      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="idCard">Employee ID CARD:</label>
        <input type="text" id="idCard" formControlName="idCard" required/>
        <div style="color: red"
             *ngIf="!employeeForm.controls.idCard.valid && (employeeForm.controls.idCard.dirty ||
            employeeForm.controls.idCard.touched)">
          <div [hidden]="!employeeForm.get('idCard').errors.required">
            Employee Code cannot be blank!
          </div>
          <div [hidden]="!employeeForm.get('idCard').errors.pattern">
            Please enter correct format! (9 or 12 digits)
          </div>
        </div>
      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="phone">Employee Phone Number:</label>
        <input type="text" id="phone" formControlName="phone" required/>
        <div style="color: red"
             *ngIf="!employeeForm.controls.phone.valid && (employeeForm.controls.phone.dirty ||
            employeeForm.controls.phone.touched)">
          <div [hidden]="!employeeForm.get('phone').errors.required">
            Phone Number cannot be blank!
          </div>
          <div [hidden]="!employeeForm.get('phone').errors.pattern">
            Please enter correct format! (090-XXXXXXX OR 091-XXXXXXX)
          </div>
        </div>
      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="email">Employee Email:</label>
        <input type="text" id="email" formControlName="email" required/>
        <div style="color: red"
             *ngIf="!employeeForm.controls.email.valid && (employeeForm.controls.email.dirty ||
            employeeForm.controls.email.touched)">
          <div [hidden]="!employeeForm.get('email').errors.required">
            Email cannot be blank!
          </div>
          <div [hidden]="!employeeForm.get('email').errors.pattern">
            Please enter correct format!
          </div>
        </div>
      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="education">Education:</label>
        <select
          id="education"
          formControlName="education"
          [compareWith]="compareEducation"
        >
          <option value=""></option>
          <option *ngFor="let type of educationList " [ngValue]="type">
            {{type.name}}
          </option>
        </select>
        <span style="color: red"
              *ngIf="employeeForm.controls.education.hasError('required') && employeeForm.controls.education.dirty">
            Education cannot be blank!</span>

      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="position">Position:</label>
        <select
          name="position"
          id="position"
          formControlName="position"
          [compareWith]="comparePosition"
        >
          <option value=""></option>
          <option *ngFor="let type of positionList " [ngValue]="type">
            {{type.name}}
          </option>
        </select>
        <span style="color: red"
              *ngIf="employeeForm.controls.position.hasError('required') && employeeForm.controls.position.dirty">
            Position cannot be blank!</span>
      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="division">Division:</label>
        <select
          name="division"
          id="division"
          formControlName="division"
          [compareWith]="compareDivision"
        >
          <option value=""></option>
          <option *ngFor="let type of divisionList " [ngValue]="type">
            {{type.name}}
          </option>
        </select>
        <span style="color: red"
              *ngIf="employeeForm.controls.division.hasError('required') && employeeForm.controls.division.dirty">
            Position cannot be blank!</span>
      </div>
      <div>
        <label style="font-weight: bold; font-size: x-large" for="salary">Salary:</label>

        <input type="text" id="salary" formControlName="salary" required/>
        <span style="color: red"
              *ngIf="employeeForm.controls.salary.hasError('required') && employeeForm.controls.salary.dirty">
            Salary cannot be blank!</span>

      </div>
        <td colspan="2" align="center">
          <button class="btn btn-primary btn-lg" [disabled]="!employeeForm.valid">UPDATE</button>
        </td>
      <div class="col-3"></div>
    </form>
  </div>
</div>
